@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #ffffff;
  --background-color-dark: #1a202c;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: var(--background-color-dark);
}
